h1 {
  font-family: 'Varela Round', sans-serif;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 33px;
  font-weight: bold;
}

h2 {
  color: #746868;
  font-size: 1.2em;
  margin-top: -5px;
}

h4 {
  color: #df8850;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 10px;
  font-family: 'Noto Sans TC', sans-serif;
}

h4 span {
  color : #000;
  text-transform: uppercase;
}

.specials {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: -5px;
}

.barContentContainer {
  background: #faf7f6;
  height: 100vh;
  margin-top: -34px;
  text-align: center;
}

.barNum {
  background: #1b95af;
  width: 20px;
  color: #fff;
  border-radius: 3px;
  padding: 0px 3px 3px 3px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.barSubtitle p {
  color: #746868;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

.barSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.goBack {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 0.85em;
  margin-top: -6px;
  margin-bottom: 20px;
}

.goBack a {
  color: #1b95af;
}

.directionsButton {
  color: #fff;
  background: #aaa;
  margin-top: 15px;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 5px;
}

.checkinButton {
  width: 150px;
}

.nextStop {
  padding: 0;
}

.nextBarButtons {
  display: flex;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
}

.nextBarButtons button {
  padding: 14px 6px;
  background: #df8850;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
}