body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  margin-top: 0;
  font-size: 24px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #1b95af;
  margin-bottom: 5px;
}

.homeContainer {
  background: url('./homeBg.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.homeLogo {
  width: 90%;
  height: auto;
  margin: 60px auto 40px auto;
  display: inherit;
}

.signupButton {
  margin-top: 40px;
}

.homeTitle {
  text-align: center;
  margin-top: 40px;
}

.homeContainer button {
  font-size: 16px;
  padding: 6px 0;
  margin-top: 10px;
}

.homeButtonContainer {
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
}