.headerContainer {
  display: block !important;
  position: fixed;
  height: 60px;
  background: white;
  top: 0;
  border-bottom: 1px solid #ddd;
}

.backArrow {
  width: 35px !important;
  height: 55px !important;
  fill: #aaa !important;
  left: 20px;
  position: fixed;
  top: 3px;
}

.lastBar {
  color: #AAA;
  position: fixed;
  top: 3px;
  left: 50px;
}