.headerContainer {
  height: 60px;
  display: block;
  width: 100%;
}

.backArrow {
  width: 35px !important;
  height: 55px !important;
  fill: #aaa !important;
  margin-left: 20px;
}

.lastBar {
  color: #AAA;
}
