.groupTitle {
  margin-top: 100px;
}

.groupTitle h3 {
  color: #c0c0c0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}

.groupTitle h1 {
  font-family: 'Varela Round', sans-serif;
  color: #7a7a7a;
  font-size: 1.5em;
}

.groupContainer {
  margin: 0 auto;
}

.columnsHeader {
  padding: 5px 15px;
  display: flex;
  color: #222;
  padding: 15px 0 15px;
  justify-content: space-between;
}

.columnsHeader p {
  display: inline-block;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
}

.columnName {
  width: 55%;
}

.columnBar {
  width: 45%;
}

.columnCount {
  width: 20%;
}

.crawler {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0px 0;
  display: flex;
  justify-content: space-between;
}

.crawler p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #666;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}

.crawlerName,
.crawlerBar {
  width: 45%;
}

.crawlerName {
  color: #df8850 !important;
}

.crawlerCount {
  width: 10%;
  color: #000 !important;
}
